route:
    receiver: 'slack'

receivers:
    - name: 'slack'
      slack_configs:
          - send_resolved: true
            username: 'username-alert'
            channel: '#it-alerts-channel'
            api_url: '<SLACK_API_URL>'
            title: '{{ template "custom_title" . }}'
            text: '{{ template "custom_slack_message" . }}'
templates:
    - /etc/alertmanager/notifications.tmpl