.env
/prometheus/alert.rules
/prometheus/prometheus.yml
/grafana/config.monitoring
/nginx-data/*
/db-data/*
/restoredb/*
/db-backups/*
/alertmanager/config.yml
/grafana/provisioning/datasources/datasource.yml
/grafana/provisioning/*
/cyclos
/params/alert.rules
/params/prometheus.yml
/params/config.monitoring
/params/config.yml
/params/.env
